
.gallery-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
}

.gallery-item {
    position: relative;
    margin: 0;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.gallery-item figcaption {
    padding: 10px;
    text-align: center;
    color: green;
    font-weight: bold;
}

.tip-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 77, 64, 0.85); /* ירוק כהה שקוף */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    opacity: 0; /* מוסתר בהתחלה */
    transition: opacity 0.3s ease;
}

.gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-item:hover .tip-overlay {
    opacity: 1; /* הטקסט מופיע */
}


@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}

